body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0px 10px;
}

.logo img {
    height: 80px;
    padding: 5px;
}

nav {
    padding-right: 400px;
}

nav a {
    padding: 10px;
    color: antiquewhite;
    font-family: 'roboto';
    font-size: 18px;
    text-decoration: none;    
}

nav a:hover {
    text-decoration: underline;
    color: antiquewhite;
}

footer {
    background-color: black;
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    list-style-type: none;
}

footer li {
    font-size: 18px;
}

footer li a {
    text-decoration: none;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    padding: 12px;
}